html,
body {
  width: 100%;
}

header {
  width: 100%;
}
.main-box {
  display: flex;
  flex-direction: row;
  /*Change flex-direction if mobile*/
  flex-wrap: wrap;
  gap: 5%;
}

.sakura-stats {
  display: flex;
  flex-direction: row;
}

.statistics {
  display: flex;
  flex-direction: column;
}
