html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: none;
  background-color: #480468;
  color: white;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: xx-large;
  flex: 50%;
}
input[type='text'] {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  font-size: xx-large;
  flex: 50%;
}
a {
  color: inherit;
}

img {
  border-radius: 0.3em;
  pointer-events: none;
  user-select: none;
}

button {
  background-color: #280a36;
  color: white;
  padding: 1em;
  border: 2px solid rgb(161, 154, 154);
  border-radius: 0.3em;
  margin: 0.8em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer {
  width: 100%;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}
.info {
  flex: 50%;
  display: flex;
  align-items: center;
  gap: 1%;
}

.controls {
  flex: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.controls div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex: 50%;
}
.sakura-surprise {
  position: fixed;
  bottom: 0;
  left: 20;
  width: 600px;
  height: 400px;
  z-index: 100;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(30, 10, 10, 30);
  background-repeat: no-repeat;
}

.main-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.secondary-box {
  display: flex;
  margin: 1%;
  flex: 40%;
  height: 100%;
  align-items: center;
  flex-direction: row;
}

.character {
  display: flex;
  flex-flow: row;
  height: 100%;
  flex: 100%;
  align-items: center;
}
.sakura {
  cursor: url(./images/crying.png), auto;
}
.statistics {
  display: flex;
  flex-direction: column;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  position: fixed;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Slides and Fading animation */
.slide {
  display: none;
  animation-name: fade;
  animation-duration: 1.4s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.3em;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .main-box {
    flex-flow: column wrap;
  }

  .secondary-box {
    width: 100%;
    height: 50%;
  }
  .character {
    flex-flow: column wrap;
  }
}
